@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Tutorial Case
   
   Style Sheet for Grids used in the Pandaisia Chocolates website
   Author: Jose Aguilar
   Date:   02/25/2026
   
   Filename: pc_grids.css

*/


/* Grid Styles for Page Body */
body {
   display: grid;
   grid-template-columns: 2fr 1fr;
}

/* Grid Styles for Nested Grid */
section {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}