@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Tutorial Case
   
   Style Sheet for the Layout of the Pandaisia Chocolates Home Page
   Author: Jose Aguilar
   Date:   02/24/2026
   
   Filename: pc_home.css

*/

/* Body Styles */
body {
   max-width: 960px;
   min-width: 640px;
   width: 95%;
}


/* Body Header Styles */
body > header > img {
   display: block;
}



/* Horizontal Navigation Styles */



/* Left Column Styles */




/* Right Column Styles */





/* Footer Styles */

