@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Tutorial Case
   
   Reset Style Sheet for the Pandaisia Chocolates Website
   Author: Jose Aguliar
   Date:   02/24/2026
   
   Filename: pc_reset.css

*/

/* Structural Styles */
article, aside, figcaption, figure, footer, header, main, nav, section {
   display: block;
}



/* Typographic Styles */

